body {
    margin: auto;
    width: 100%;
}

h3 {
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
}